<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="../../assets/img/carlos.png" alt="minha foto">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <h4>Carlos Alberto Montalioni Martins Gomes</h4>
      <h5>Matricula:21200260</h5>
    </div>
  </div>
</ion-content>